@using Alfateam.Database.Models.SitePagesTexts
@using Alfateam.Helpers
@using Alfateam.Services;
  
@model ErrorPages
@{
    ViewData["HideFooter"] = "True";
}
@inject LocalizationService localization
@{
    var errorLocalization = localization.GetErrorPagesLocalization();
}

<div class="container content-top-page">
    <div class="row">
        <div class="content-hui">
            <div class="dickimg"></div>
            <div class="title">@errorLocalization.NuhuyaTitle</div>
            <div class="description">
                @errorLocalization.NuhuyaDescription
            </div>
        </div>
    </div>
</div>