@using Alfateam.Database.Models
@{
    Layout = "_AdminLayoutV2";
}
@model PortfolioCategory

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Создание новой категории портфолио
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="CreateCategoryPOST" asp-controller="PortfolioCategories" method="post" enctype="multipart/form-data" role="form">

            <div class="form-group">
                <label>Название</label>
                <input class="form-control" asp-for="Caption" required placeholder="">
            </div>


            <div class="mb-3 mt-3 position-right">
                <button type="submit" class="button-classic">Сохранить</button>
            </div>

        </form>

    </div>
</div>