@using Alfateam.Database.Models
@using Alfateam.ViewModels
@using CRMWeb.Helpers.Html
@{
    Layout = "_AdminLayoutV2";
}
@model VMWithLanguages<PortfolioCategory>


<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Редактирование категории портфолио
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="UpdateCategoryPOST" asp-controller="PortfolioCategories" method="post" enctype="multipart/form-data" id="form" role="form">
            <input type="hidden" asp-for="TargetType.Id" value="@Model.TargetType.Id" />


           <div class="form-group">
                <label>Название</label>
                <input class="form-control" asp-for="TargetType.Caption" required placeholder="">
            </div>



            <div class="mb-3 mt-3 position-right">
                <button type="submit" class="button-classic">Сохранить</button>
            </div>

        </form>

    </div>
</div>

