@using Alfateam.Database.Enums;
@using Alfateam.Database.Models.Promotions
@using CRMWeb.Helpers;
@{
    Layout = "_AdminLayoutV2";
}
@model Promotion

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Создание нового тарифной карточки
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="CreatePromotionPOST" asp-controller="Promotions" method="post" enctype="multipart/form-data" role="form">

            <div class="form-group">
                <label>Заголовок</label>
                <input class="form-control" asp-for="Caption" required placeholder="">
            </div>

            @*<div class="form-group">
                <label for="" class="">Изображение</label>
                <input type="file" name="file" class="form-control" placeholder="">
            </div>
*@

            <div class="form-group">
                <label>Пазл</label>
                <select class="form-control" asp-for="PromotionPuzzleType">
                    @Html.Raw(EnumToHtmlHelper<PromotionPuzzleType>.Convert(Model.PromotionPuzzleType))
                </select>
            </div>


            <div class="form-group">
                <label>Описание цены</label>
                <input class="form-control"  asp-for="Price" required placeholder="">
            </div>



          

            <div class="mb-3 mt-3 position-right">
                <button type="submit" class="button-classic">Сохранить</button>
            </div>

        </form>

    </div>
</div>

@*Описания тарифа*@
<script>

    let titleTranslationsIndex = 0;
    
    function addTitleTranslation(){

        titleTranslationsIndex++;
        let tBody = document.getElementById("titleTranslationsTBody");

        let tr = document.createElement("tr");
        tr.innerHTML = `  <input type="hidden" name="Descriptions[${titleTranslationsIndex}].Texts[0].LanguageId" value="1" />
                          <td><input class="form-control" name="Descriptions[${titleTranslationsIndex}].Texts[0].Text" required placeholder=""></td>
                          <td><button type="button" onclick="deleteTitleTranslation(event)" class="btn btn-danger">Удалить</button></td>`;

        tBody.appendChild(tr);

    }

    function deleteTitleTranslation(event) {

         let tBody = document.getElementById("titleTranslationsTBody");
         tBody.removeChild(event.target.parentNode.parentNode);

         titleTranslationsIndex--;
    }

</script>