@{
    ViewData["Title"] = "Privacy Policy";
}
   <div class="container content-top-page">
        <div class="pagelist">
            <div class="pageheader">
                <div class="title">Политика конфиденциальности</div>
            </div>
            <div class="pagecontent">
                Обещаю не брать в рот
            </div>
        </div>
    </div>
    