@using Alfateam.Database.Models
@{
    Layout = "_AdminLayout";
}
@model Post

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Создание новой новости
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="CreatePostPOST" asp-controller="Posts" method="post" enctype="multipart/form-data"  role="form">

            <div class="form-group">
                <label>Заголовок</label>
                <input class="form-control" asp-for="Captions[0].Text" required placeholder="">
            </div>
            <input type="hidden" asp-for="Captions[0].LanguageId" value="1" />

            <div class="form-group">
                <label>Изображение</label>
                <input type="file" name="file" required>
            </div>

            <div class="form-group">
                <label>Текст новости</label>
                <textarea class="form-control" asp-for="Contents[0].Text" required rows="3"></textarea>
            </div>
            <input type="hidden" asp-for="Contents[0].LanguageId" value="1" />

            <button type="submit" class="btn btn-default">Создать</button>

        </form>

    </div>
</div>