@using Alfateam.Database.Models
@{
    Layout = "_AdminLayoutV2";
}
@model Teammate

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Создание нового сотрудника
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="CreateTeammatePOST" asp-controller="Team" onsubmit="onSubmit(event)" method="post" enctype="multipart/form-data" role="form">

            <div class="form-group">
                <label>Имя Фамилия</label>
                <input class="form-control" asp-for="Title" required placeholder="">
            </div>



            <div class="mb-3">
                <label for="" class="formlabel">Изображение</label>
                <div class="content-load">
                    <div class="close-file" id="close_file"><i class="fa-solid fa-xmark"></i></div>
                    <label class="loadfile1" id="upload-image" for="pct" style="height: 6em;"><div class="text-fileupload">Загрузите файл</div></label>
                    <input class="pctfile" type="file" name="file" id="pct">
                </div>
            </div>

            <div class="form-group">
                <label>Описание по середине</label>
                <textarea class="form-control" asp-for="MiddleDescription" required rows="3"></textarea>
            </div>

            <div class="form-group">
                <label>Должность</label>
                <textarea class="form-control" asp-for="Position" required rows="3"></textarea>
            </div>
 

            <div class="mb-3 mt-3 position-right">
                <button type="submit" class="button-classic">Сохранить</button>
            </div>

        </form>

    </div>
</div>

<script>

    async function onSubmit(event) {
        event.preventDefault();
        await cropFinal('pct', 'upload-image');
        event.target.submit();
    }

    $(document).ready(function () {
        initImageCroppie('upload-image', 'pct', 'close_file');
    });


</script>